* {
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reallyContainer {
  width: 100%;
  height: 100%;
  background-color: #232323;
}

.container {
  display: flex;
  
  width: 1440px;
  height: 100vh;
  margin: auto;
}

:root {
  --color-green: #3dccc7;
  --color-cream: #f2e2ba;
  --color-black: #2d2d2a;
  --color-grey: #5f5f5f;
  --color-light-grey: #938ba1;
  --color-white: #f7f0f5;
}
