.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-image: url("../../assets/images/pattern.png");
  background-color: var(--color-black);
  
  display: flex;
  
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--color-black);

  max-width: 1054px;
  height: 100%;
  max-height: 586px;
  margin: auto;

  padding: 100px;

  border-radius: 30px;
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.25);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 138.6px;
  max-height: 154px;
}

.signUp {
  font-size: 64px;
  color: var(--color-white);
}

.desc {
  font-size: 20px;
  color: var(--color-green);
}

.line {
  width: 1px;
  height: 100%;
  max-height: 240px;
  background-color: var(--color-grey);
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 356px;
  height: 100%;
  max-height: 262px;
}

.formLabel {
  color: var(--color-white);
}

.input {
  width: 100%;
  max-width: 356px;
  height: 100%;
  max-height: 46px;

  border: 3px solid var(--color-white) !important;
  border-radius: 25px;
  color: var(--color-white);

  padding-left: 27px;
  margin-bottom: 24px;
}

.input::placeholder {
  color: var(--color-white);
  opacity: 1;
}

.button {
  width: 100% !important;
  max-width: 82px !important;
  height: 100% !important;
  max-height: 26px !important;

  background-color: var(--color-green) !important;
  color: var(--color-black) !important;
  border-radius: 25px !important;

  font-size: 15px !important;

  margin-bottom: 11px !important;
}

.toLogIn {
  font-size: 12px;
  color: var(--color-white);
  opacity: 25%;
}



@media screen and (max-width: 1099px) {
  .line {
    display: none;
  }

  .form {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 575px) {
  .line {
    display: none;
  }

  .form {
    padding: 60px;
  }

  .logo {
    display: none;
  }

  .signUp {
    font-size: 20px;
  }
}