.leftSide {
  position: relative;
  width: 100%;
  max-width: 359px;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  max-height: 72px;
  background-color: var(--color-green);

  padding-top: 23px;
}

.chatsContainer {
  width: 100%;
  height: calc(100% - 72px);
  background-color: var(--color-black);

  overflow: auto;
}

.chatContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 96px;
  padding: 14px 16px;

  display: flex;
}

.chatContainer:hover {
  cursor: pointer;
  background-color: rgba(227, 227, 227, 0.1);
}

.profileInitial {
  width: 100%;
  max-width: 70px;
  height: 100%;
  max-height: 70px;
  background-color: var(--color-cream);

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: var(--color-light-grey);
}

.messageContainer {
  margin-left: 13px;
  margin-top: 11px;
}

.senderName {
  font-size: 20px;
  color: var(--color-white);
  text-transform: capitalize;
}

.message {
  font-size: 15px;
  color: var(--color-light-grey);
}

.time {
  position: absolute;
  top: 15px;
  right: 20px;

  font-size: 13px;
  color: var(--color-light-grey);
}

.amountUnreadMessages {
  position: absolute;
  top: 43px;
  right: 24px;

  min-width: 23px;
  min-height: 23px;
  background-color: var(--color-green);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  color: var(--color-black);
}

.line {
  position: absolute;
  bottom: 5px;
  right: 39px;

  width: 100%;
  max-width: 223px;
  border-bottom: solid 1px rgba(227, 227, 227, 0.1);
}

.selected {
  background-color: var(--color-grey);
}

/* scrollbar */
.chatsContainer::-webkit-scrollbar {
  width: 5px;
}

.chatsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--color-light-grey);
}

.chatsContainer::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 50px;
}

.chatsContainer::-webkit-scrollbar-thumb:hover {
  background: var(--color-cream);
}
/* scrollbar */
