.addIcon {
  display: inline-block;
}

.addIcon:hover,
.searchIcon:hover {
  cursor: pointer;
}

.searchIcon {
  display: inline-block;
}

.drawerContent {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}

.drawerHeader {
  background-color: var(--color-green);

  display: flex;
  gap: 10px;
}

.input:focus {
  border: 1px solid var(--color-white) !important;
  box-shadow: none !important;

  color: var(--color-white) !important;
}

.input::placeholder {
  color: var(--color-white);
  opacity: 1;
}

.drawerBody {
  padding: 0;
}
