.addIcon {
  display: inline-block;
  margin-left: 248px;
}

.addIcon:hover,
.searchIcon:hover {
  cursor: pointer;
}

.searchIcon {
  display: inline-block;
  margin-left: 22px;
}

.drawerContent {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}

.drawerCloseButton {
  border-color: transparent !important;
  margin-top: 5px;
}

.drawerHeader {
  background-color: var(--color-green);
}

.input:focus {
  border: 1px solid var(--color-white) !important;
  box-shadow: none !important;

  color: var(--color-white) !important;
}

.input::placeholder {
  color: var(--color-white);
  opacity: 1;
}

.drawerBody {
  padding: 0;
}

.gakTau {
  border-bottom: 1px solid #5f5f5f;
  padding: 15px;
}

.senderName {
  font-size: 20px;
  font-weight: 400;
}

.messagesText {
  font-size: 15px;
}
